body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;
    font-family: 'Roboto', sans-serif;
    width: 100%;
    margin: 0;
}

.container2 {
	max-width:45%;}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    padding: 20px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    width: 100%;
    max-width: 700px;
    margin: 0 auto 20px;
}

.containerAWG {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 20px;
	padding-bottom: 5px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: 95%;
    max-width: 300px;
    margin: 0 auto;
	margin-bottom: 50px;
	margin-top: 50px;
	scale: 110%;
}

button {
    width: 100%;
    margin-bottom: 20px;
    padding: 10px 20px;
    font-size: 18px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.2s ease;
}

button:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.button--loading::after {
    content: "";
    width: 15px;
    height: 15px;
    border: solid rgba(0, 0, 0, 0.1);
    border-top-color: #f15874;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

.button--loading .button__text {
    display: none;
}

#warpButton  {
    background: linear-gradient(90deg, #eeac43, #f15874);
}

#clashButton {
    background: linear-gradient(20deg, #9583FF, #FB80B9);
}

#protonButton {
background: #6D4AFF;
}

#telegramButton, #BoostyButton, #githubButton, #DonationAlertsButton, #BoostyNewButton {
    background: linear-gradient(90deg, #2a3797, #0d87d2);
    width: 270px;
    max-width: 400px;
    margin: 10px auto;
}

button:disabled {
    cursor: not-allowed;
    opacity: 0.7;
}


#newButtons {
    visibility: hidden;
    opacity: 0;
    height: 0;
    overflow: hidden;
    transition: opacity 0.5s ease, height 0.5s ease, visibility 0.5s ease;
}

#newButtons.show {
    visibility: visible;
    opacity: 1;
    height: 120px;
}

@media (max-width: 730px) {

}
